/* Reset Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Inter Tight;  /* New font for website content */
    color: black;
    background-color: white;
}

/* Header Styles */
header {
    background-color: #76323f;  /* Changed header colour */
    color: #fff;
    text-align: center;
    padding: 20px;
}

.headeraH1 {
    margin: 0;
    font-family: Tilt Prism;   /* New font for website header */
    font-size: 40px;
}

.banner {
    width: 100%;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: auto;
    display: block;
}


/* Navigation Styles */
nav ul {
    background-color: #f7e3da;  /* Changed navigation bar colour */
    color: #fff;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 20px;
}

nav li {
    display: inline-block;
}

nav a {
    display: block;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;  /* Smooth transition for hover effect */
}

nav a:hover {
    background-color:#f1c9b7;  /* Darker shade for hover */  /* Changed hover colour */
}

/* Banner Styles */
.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    overflow: hidden;
}

.centered-banner {
    padding: 30px;
    max-width: 80%;
    height: auto;
}

/* Main Content Styles */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.services {
    text-align: center;
    margin: 2rem auto;
    padding: 2rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(118, 50, 63, 0.884);
}

/*To align the text on left in contact page*/
#services-contact{
    text-align: left;
}

main h3 {
    margin-top: 20px;
}

/* Service Columns */
.services-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.service-column {
    flex-basis: calc(50% - 20px); /* changed percentage to accommodate 2 pictures in one row */
    max-width: calc(50% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.service-column img {
    width: 250px;
    height: auto;
    margin-top: 15px;  /* added top margin fop better spacing*/
    margin-bottom: 10px;
}

.service-column h3 {
    margin-bottom: 5px;
    text-decoration: underline;  /* added text decoration*/
    text-decoration-color: white;
}

/* Media Queries for Responsiveness */
@media (max-width: 800px) {
    .service-column {
        flex-basis: calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 700px) {
    .service-column {
        flex-basis: 100%;
        max-width: 100%;
    }
}

/* Call to Action Styles */
.cta-container {
    text-align: center;
    padding: 15px; /*  Reduced padding */
    background-color: #f7e3da; /* Changed background colour */
    margin-top: 40px; /* Increased margin */
    color:black; /* Changed text colour */
    font-size: 25px; /* Increased text size */
    border-style: dashed;  /* added border */
    border-width: 1px;
    border-color: #76323f;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color:white; /* Changed button colour */
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 15px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color:#c9637652 ; /* Changed button hover colour */
}

/* Footer Styles */
footer {
    background-color: black;  /* Changed footer colour */
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer ul {
    margin: 0;
}

footer li {
    display: inline-block;
    margin-right: 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;  /* Smooth transition for hover effect */
}

footer a:hover {
    color: #b3b3b3;  /* Lighter color on hover */
}

footer p {
    margin: 10px 0 0;
}

/* Implements sticky header on all the website pages */
.sticky-header{
    position:sticky;  /* navigation bar stickys to the top when web page is scrolled */
    top:0px;
    z-index:1;   /* layers the header above the next and previous button */
}

/* Highlights the currently active page */
a:is(:link, :active).current-page {
    background-color:  white;  /* changes background to white*/
    color:  black;   /* changes text to black*/
    font-weight: bold;    /* makes text bold*/
}

/* Call to Action Styles Header*/
.cta-container h2{
    text-decoration: underline black 3px;   /* added text decoration */
    text-transform: uppercase; /* changes title to uppercase */
}

/* Call to Action Styles Paragraph*/
.cta-container p{
    font-size: 19px;  /* changed font size */
    font-weight: bold;  /* changed font weight */
}

/*Here, will be the Gallery slide show style*/
* {
    box-sizing: border-box;
}

.slideshow-img {
    vertical-align: middle;
    width: 100%;
}

/* Position the image container (needed to position the left and right 
arrows) */
.container {
    display: flex;
    padding: 20px;
    background-color: #F9E9EC; 
    margin-top: 20px; 
    color:#5A2A27; 
    font-size: 25px; 
    border-style: solid; 
    border-width: 1px;
    justify-content: center;
    align-items: center; 
}

/* Hide the images by default */
.mySlides {
    display: none;
    font-weight: bold;
}

/*Sets the size of all images for uniformity*/
.mySlides img{
    margin-left: 25px;
    margin-right: 30px;
    height:350px;
    width:580px;
}

/*Displays the first image when the page is loaded*/
#initialImg{
    display: block;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    position:static;  /*Fixes button positions*/
    cursor: pointer;
    width: auto;
    padding: 10px;
    margin-left: -55px;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 40px;
    border-radius: 20px 20px 20px 20px;
    user-select: none;
    -webkit-user-select: none;
    z-index:0;  /* layers the buttons below the header so it doesnt overlap when site is scrolled */
    text-decoration: none;
}

/* Position the "next button" to the right */
.next {
    position: absolute;  /*changed position of left button for flexibility*/
    margin-left: 710px;
    border-radius: 20px 20px 20px 20px;
}

/*for the pulse animantion of the buttons*/
@keyframes pulse {
    0% { 
      transform: scale(1);  /*transforms buttons to initial size at 0% progress*/
    }
    50% {
      transform: scale(1.05);  /*transforms buttons to a larger size at 50% progress*/
    }
    100% {
      transform: scale(1);   /*transforms buttons back to initial size at 100% progress*/
    }
  }

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    width: fit-content;
    height: fit-content;
    color:white;
    background: linear-gradient(to bottom, #76323f, #b8570c);  /*background appears to be a gradient*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);  /*creates shadow on button*/
    animation: pulse 0.5s infinite;  /*animation repeates ever half a second till the user is hovering over the button*/
}

/* Number text (1/3 etc) */
.numbertext {
    background-color: #5A2A27;
}

/* Style for the form: setting width, auto margin for centering, padding, 
background color, border radius for rounded corners, and font size */
#form {
    width: 700px;
    margin: 0 auto 0 auto; /* This centers the form vertically and horizontally */
    padding: 20px;
    background-color: white; /* Light gray background for the form */
    border-radius: 4px; /* Rounded corners for the form */
    font-size: 15px;
}

/* Style for the form's heading: setting the text color and alignment */
#form h1 {
    color: #0f2027;  /* Dark text color for the heading */
    text-align: center; /* Center-align the heading */
}

/* Style for the form's button: padding, top margin, full width, text color, 
    background color, no border, and rounded corners */
#form button {
    padding: 10px;
    margin-top: 10px; /* Space above the button */
    width: 100%;  /* Make the button expand the full width of the form */
    color: white;  /* White text color for the button */
    background-color: #000000; /* Black background color for the button */
    border: none;  /* Remove the default border */
    border-radius: 4px; /* Rounded corners for the button */
}

/*hover for the login button*/
#form button:hover {
    background-color: #555;
}

/* Container for input fields: using flexbox for layout, column direction */
.input-control {
    display: flex;
    flex-direction: column; 
    font-weight: bold;   /* Stack the children (label, input, error message) vertically */
}

/* Style for input fields inside the container: border style, rounded corners, 
    block-level display, font size, padding, full width */
.input-control input {
    border: 2px solid #afafaf91;  /* Light gray border for the inputs */
    border-radius: 4px;  /* Rounded corners for the inputs */
    display: block;/* Display input field as a block */
    font-size: 12px; /* Text size within the input field */
    padding: 10px;/* Space inside the input field */
    width: 100%;  /* Input field takes up 100% of the form's width */
}

/* Remove focus outline from input fields */
.input-control input:focus {
    outline: 0;/* Remove outline when input is focused */
}

/* Style for input fields with class "success": green border */
.input-control.success input {
    border-color: #006400;      /* Green border to indicate successful input */
}

/* Style for input fields with class "error": red border */
.input-control.error input {
    border-color: #7c0019;  /* Red border to indicate an error in input */
}

/* Style for the error message: text color, font size, and height */
.input-control .error {
    color: #7c0019;  /* Red text color for error messages */
    font-size: 9px;  /* Smaller font size for error messages */
    height: 13px;  /* Explicit height to ensure consistent spacing */
}

/*Style for the prompts*/
#textU, #textE,#textP,#textCP{
    font-weight: bold;
    padding-bottom:30px;
    font-size: 12px;
}